{% extends 'base.html' %}

{% block content %}
<div style="background: #0f172a;" class="absolute flex flex-col gap-2 h-full w-full overflow-auto bg-slate-900 bg-white">
    <div class="w-full h-full">
        <div class="p-5 flex flex-col gap-5">
            <a href="{% url 'index' %}?from={{ product.invoice }}" class="max-w-max hover:cursor-pointer bg-blue-600 rounded-md text-white text-md active:scale-95 transition hover:bg-blue-700 px-4 py-2">
                Назад
            </a>
            <div class="flex flex-col w-1/2 border border-slate-500 rounded-lg">
                <p class="border-b border-b-slate-500 flex flex-row items-center justify-between p-4">
                    <span class="text-white text-xl">Товар:</span> 
                    <span class="text-white text-xl font-medium text-end max-w-[20rem]">{{ product.product_name }}</span>
                </p>
                <p class="border-b border-b-slate-500 flex flex-row items-center justify-between p-4">
                    <span class="text-white text-xl">Накладной:</span> 
                    <span class="text-white text-xl font-medium text-end max-w-[20rem]">{{ product.product_id }}</span>
                </p>
                <p class="border-b border-b-slate-500 flex flex-row items-center justify-between p-4">
                    <span class="text-white text-xl">Получатель:</span> 
                    <span class="text-white text-xl font-medium text-end max-w-[20rem]">{{ product.recipient_fullname }}</span>
                </p>
                <p class="border-b border-b-slate-500 flex flex-row items-center justify-between p-4">
                    <span class="text-white text-xl">Дата рождения (ГГГГ-ММ-ДД):</span> 
                    <span class="text-white text-xl font-medium text-end max-w-[20rem]">{{ product.recipient_birthdate }}</span>
                </p>
                <p class="border-b border-b-slate-500 flex flex-row items-center justify-between p-4">
                    <span class="text-white text-xl">Паспорт:</span> 
                    <span class="text-white text-xl font-medium text-end max-w-[20rem]">{{ product.recipient_passport|cut:" "|slice:"0:2" }} {{ product.recipient_passport|cut:" "|slice:"2:" }}</span>
                </p>
                <p class="border-b border-b-slate-500 flex flex-row items-center justify-between p-4">
                    <span class="text-white text-xl">Адрес дотавки:</span> 
                    <span class="text-white text-xl font-medium text-end max-w-[20rem]">{{ product.recipient_address }}</span>
                </p>
                <p class="border-b border-b-slate-500 flex flex-row items-center justify-between p-4">
                    <span class="text-white text-xl">Номер телефона:</span> 
                    <span class="text-white text-xl font-medium text-end max-w-[20rem]">+{{ product.recipient_phonenumber }}</span>
                </p>
                <p class="border-b border-b-slate-500 flex flex-row items-center justify-between p-4">
                    <span class="text-white text-xl">Номер телефона:</span> 
                    <span class="text-white text-xl font-medium text-end max-w-[20rem]">{{ product.recipient_pinfl }}</span>
                </p>
            </div>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-5 my-10">
            <table class="w-full text-sm text-left rtl:text-right text-gray-400">
                <thead class="text-xs uppercase bg-gray-700 text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-start">
                            Инвойс
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            AWB
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Стикер
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Масса (кг)
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Брутто
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Кол-во
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Цена
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            TN VED
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            SHK
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Страна
                        </th>
                        <th scope="col" class="px-6 py-3 text-end">
                            № кор.
                        </th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="odd:bg-gray-900 even:bg-gray-50 even:bg-gray-800 border-b border-gray-700 border-gray-200">
                            <td class="px-6 py-4 text-start">
                                {{ product.invoice }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ product.awb }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ product.sticker }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ product.netto }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ product.brutto }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ product.quantity }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ product.price }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ product.tn_ved }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ product.shk }}
                            </td>
                            <td class="px-6 py-4 text-center">
                                {{ product.recipient_country_code }}
                            </td>
                            <td class="px-6 py-4 text-end">
                                {{ product.box_number }}
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}