{% extends 'base.html' %}

{% block content %}
    
    <div style="background: #0f172a;" class="absolute flex items-center justify-center h-full w-full dark:bg-slate-900 bg-white top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <div class="flex items-center gap-5">
            <a href="{% url 'invoices' %}" class="w-[250px] text-xl font-semibold text-center hover:cursor-pointer bg-blue-600 rounded-md text-white text-md active:scale-95 transition hover:bg-blue-700 px-2 py-3">Ozon & Wildberries</a>
            <a href="{% url 'suppliers' %}" class="w-[250px] text-xl font-semibold text-center hover:cursor-pointer bg-blue-600 rounded-md text-white text-md active:scale-95 transition hover:bg-blue-700 px-2 py-3">FedEx</a>
        </div>
    </div>
    
{% endblock content %}