{% extends "base.html" %}

{% block content %}
    <div style="background: #0f172a;" class="absolute flex flex-col gap-2 h-full w-full overflow-auto bg-slate-900 bg-white">
        {% include 'components/_nav.html' with search_placeholder='Поиск по накладному номеру' redirect_to="/invoices/" %}
        <div class="w-full h-full">
            {% if success and products %}

                <div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-5">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-gray-700 text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    №
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Название продукта
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Накладной номер
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Количество
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Цена
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Получатель
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <!-- Icon here -->
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr class="odd:bg-white odd:bg-gray-900 even:bg-gray-50 even:bg-gray-800 border-b border-gray-700 border-gray-200">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-white">
                                        {{ forloop.counter }}
                                    </th>
                                    <td class="px-6 py-4">
                                        {{ product.product_name }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ product.product_id }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ product.quantity }}
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ product.price }} сум
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ product.recipient_fullname }}
                                    </td>
                                    <td class="px-6 py-4">
                                        <a href="{% url 'detail' id=product.id %}" class="font-medium text-blue-600 text-blue-500 hover:underline">
                                            Посмотреть
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            {% elif success == False and not products %}
                <div class="w-full h-full flex items-center justify-center">
                    <p class="text-white font-medium text-2xl opacity-50">Информация о товаре с ID "{{  product_id }}" не найдена 😑</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
